<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>List Smartphone</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        successHandler();
        function addSmartPhone() {
            let producer = $('#producer').val();
            let model = $('#model').val();
            let price = $('#price').val();
            let newSmartPhone = {
                producer: producer,
                model: model,
                price: price
            };

            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                data: JSON.stringify(newSmartPhone),
                url: "/smartphones",
                success: successHandler
            });
            event.preventDefault();
        }

        function getSmartphone(smartphone) {
            return `<tr>
                        <td>${smartphone.producer}</td>
                        <td>${smartphone.model}</td>
                        <td>${smartphone.price}</td>
                        <td><button onclick="remove(${smartphone.id})">Delete</button></td>
                        </tr>`
        }

        function successHandler() {
            $.ajax({
                type: "GET",
                url: "/smartphones",
                success: function (data) {
                    let content = '<tr>\n' +
                        '<td>Producer</td>\n' +
                        '<td>Model</td>\n' +
                        '<td>Price</td>\n' +
                        '<td>Delete</td>\n' +
                        '</tr>';
                    for (let i = 0; i < data.length; i++) {
                        content += getSmartphone(data[i]);
                    }
                    document.getElementById('smartphoneList').innerHTML = content;
                }
            })
        }

        function remove(id) {
            $.ajax({
                url: `/smartphones/${id}`,
                type: 'DELETE',
                success: successHandler
            })
        }
    </script>
</head>
<body>
<form id="add-smartphone">
    <table>
        <tr>
            <td>Producer:</td>
            <td><input type="text" id="producer" placeholder="Producer"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" id="price" placeholder="Price"></td>
        </tr>
        <tr>
            <td>Model:</td>
            <td><input type="text" id="model" placeholder="Model"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="button" value="ADD" onclick="addSmartPhone()"></td>
        </tr>
    </table>
</form>
<h1>Smartphone List</h1>
<table id="smartphoneList">
</table>
</body>
</html>